body {
    background-color: black;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
}

.main-title {
    font-size: 62px;
    text-transform: uppercase;
    text-align: center;
    margin: 46px 0;
}

.main-title-plan {
    color: #cbe300;
}

.header {
  display: flex;
  background-color: #05080a;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  /* border-bottom: 1px solid white; */
}

.header__logo {
    font-size: 36px;
    /* margin-left: 20px; */
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 16px;
    letter-spacing: 2px;
}

.header__nav ul {
    display: flex;
    list-style-type: none;
    font-size: 18px;
    gap: 16px;
}

.header__nav a {
    color: white;
    text-decoration: none;
    padding: 14px;
    border-radius: 6px;
}

.header__nav a:hover {
    text-decoration: underline;
    background-color: #cbe300;
}

.header__nav--active {
    background-color: #cbe300;
    /* color: #0c1014; */
    pointer-events: none;
    /* Não receberá o evento de clique do mouse */
}

.section {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.section-plan {
    flex: 1;
    /* Atalho para flex-grow, flex-shrink, basis */
    background-color: #1f262c;
    padding: 30px;
    /* text-align: center; */
    border-radius: 6px;
    box-shadow: 0 5px 12px 10px black;
    /* 0: vertical, 5px: horizontal, 12px espummaçamento, 10 expansão ou dimuição (o padrão é 0)*/
    display: flex;
    flex-direction: column;
}

.section-title {
    text-transform: uppercase;
    border-bottom: 2px solid #cbe300;
    margin-top: 0;
    padding-bottom: 10px;
    letter-spacing: 2px;
}

.section-plan p {
    margin-top: 0;
}

.section-price {
    font-size: 28px;
    /* letter-spacing: 2px; */
    margin-right: 3px;
    
}

.section-features {
    margin: 0 0 35px;
    color: #b5b5b5;
    padding-left: 21px;
    line-height: 1.8;
    /* Espaço entre as linhas */
    flex: 1;
    /* Deixa as ul ajustadas no mesmo nivel */
    /* Poderia usar o margin-block-start: auto, porém no buttom*/
}

.section-features li::marker {
    color: #cbe300;
}

.section-cta {
    background-color: #cbe300;
    font-size: 16px;
    font-weight: bold;
    color: #0c1014;
    padding: 16px 10px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 6px;
    text-align: center;
}

.section-cta:hover {
    background-color: #1f262c;
    color: #cbe300;
    border: 1px solid #cbe300;
}