body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: brown;
    /* font-size: 62.5%; */
    margin-bottom: 5rem;
}

h1 {
    text-align: center;
    font-size: 48px;
    font-weight: lighter;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    width: 80%;
    margin: 0 auto;
    /* outline: 1px solid black; */
    /* background-color: greenyellow */
}

/* Exemplo 1 */
.card {
    /* width: 32rem; */
    /* flex-basis: calc(33% - 2rem); */
    flex-basis: clamp(300px, calc(33% - 2rem), 400px);
    /* Tamanho minimo: 300px,, tamanho ideal: calc(33% - 2rem), tamanho maximo: 400px */
    flex-grow: 1;
    /* Dividi o tamanho dos espaços entre os cards */
    background-image: 
    linear-gradient(135deg, transparent 25px, rgb(230, 225, 225) 25px), 
    linear-gradient(135deg, transparent 25px, white 25px);
    /* O linear gradient foi usado para fazer o corte na caixa */
    background-size: 35px 35px, 100%;
    /* definindo o tamanho do gradient */
    background-repeat: no-repeat;
    /* o gradient não repita */
    filter: drop-shadow(0 0 5px black);
    /* Ao invés de usar box-shadow, utilizamos drop-shadow */
    padding: 40px 30px 30px 50px;
    box-sizing: border-box;
    position: relative;
}

.card_title {
    margin: 0;
    font-weight: lighter;
}

.exemplo {
    width: 0px;
    height: 0px;
    /* background-color: yellow; */
    border-top: 35px solid transparent;
    border-right: 35px solid rgb(230, 225, 225);
}

.clippath > div{
    width: 300px;
    height: 300px;
    margin: 30px;
    background-image: repeating-linear-gradient(45deg, yellow 10%, orange 20%);
}

.d1 {
    clip-path: polygon(0% 0%, 100% 0%, 0% 100%, 20% 20%);
    /* O primeiro é o valor de x e o segundo é o valor de y */
}

.d2 {
    clip-path: circle(50% at center);
    /* 50% será o raio */
}

.d3 {
    clip-path: ellipse(50% 80% at center);
    /* 50% será o raio x, 80% será y */
}

.d4 {
    clip-path: inset(100px);
    /* Cada valor será diminuido na caixa */
}

.d5 {
    clip-path: inset(20px round 50px 20px 10px 25% / 10px 50px);
    /* Os cantos serão arrendados, primeiros valores serão na horizontal e os demais na vertical */
}

.d1 {
    clip-path: circle(50% at 50% );
    /* primeiro valor será na horizontal, o segundo na vertical */
}

.d1 {
    clip-path: circle(80% at center right );
    /* primeira sempre na horizontal: valor será a porcentagem que ele irá ocupar
    o segundo vertical: será o ponto de partida, com a dimensão*/
}