body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

.back {
    background-color: rgba(120, 52, 52, 0.929);
    /* font-size: 62.5%; */
    padding-top: 1px;
}

.back .h1 {
    color: white;
    text-align: center;
    margin-top: 5rem;
}

.principal {
    margin: auto;
    padding: 2rem;
    max-width: 1300px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.cards {
    padding: 3rem;
    background-color: white;
    width: 13rem;
}