/* box-sizing 
    content-box: ele formatará a caixa para o padrão do conteúdo

    border-box: formatará o tamanho da caixa para o padrão do primeiro elemento(500px)

 */
body {
    font-family: sans-serif;
}

p {
    width: 500px;
    background-color: #ccc;
}

.p1 {
    padding: 25px;
}

.p2 {
    padding: 25px;
    border: 10px solid green;
    box-sizing: content-box;
    /* formata o tamanho para o padrão do conteúdo */
}

.p3 {
    padding: 25px;
    border: 10px solid green;
    box-sizing: border-box;
    /* formata o tamanho para o padrão do paragráfo */
}

.p4 {
    padding: 25px;
    border: 10px solid green;
    box-sizing: border-box;
    /* formata o tamanho para o padrão do paragráfo */
}