/*Unidade de Medida Ch */

html {
    font-size: 62.5%;
    --header-height: 15rem;
}

.em {
    width: 20em;
    padding: 1em;
    margin: 1em;
    background-color: orange;
    font-size: 1.6em;
    /* Todas as propriedades estão recebendo o valor de em da font-size */
}

.ch {
    width: 20ch;
    /* significa 20 larguras da letra o */
    padding: 1em;
    margin: 1em;
    background-color: orange;
    font-size: 3em;
}
