body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
table {
    width: 80%;
    margin: 6rem auto;
    background-color: beige;
    border-collapse: collapse;
    /* o padrão vem separate */
}

th {
    background-color: rgb(190, 190, 155);
    border: 2px solid rgb(117, 117, 95);
    padding: 1rem;
}

td {
    border: 1px solid black;
    text-align: center;
    padding: 0.5rem;
}

tfoot {
    text-align: center;
    height: 3em;
}