@property --sucess-color {
    syntax: "<color>";
    /* a propriedade que ele vai permitir*/
    inherits: false;
    initial-value: green;
    /* com property temos mais controle sobre quem e onde ela vai ser acessada */
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
}

:root {
    --success-color: blue;
    /* --error-color: red;
    --angle: 0deg; */
}

body {
    /* --success-color: 50px; */
    color: white;
    background-color: rgb(62, 62, 62);
}

.container {
    /* --error-color: pink; */
}

.div2 {
    /* --error-color: 50px; */
}

b {
    color: var(--success-color, red);
    /* caso a property não funcione, ele validará o proximo */
}

.anima {
    width: 200px;
    height: 200px;
    background-color: var(--success-color, blue);
    transform: rotate(var--angle);
    animation: rotate 5s linear infinite;
}

@keyframes rotate {
    to {
        --angle: 360deg;
        /* Não podemos animar variaveis */
    }
}