:root {
    --primary-color: #FED001;
}
html {
    /* font-size: 62.5%;      
    font-family: 'Inter', sans-serif;
    font-weight: 400; */
    font:400 62.5% 'Inter', sans-serif;  
    /*Abreviação: font-weight, font-size, font-family */
}

p, a {
    font-size: 1.6rem;
}

h1 {
    font-size: 4.8rem;
}
h2 {
    font-size: 4rem;
}

h3 {
   font-size: 3.2rem;
}

nav a {
    color: inherit;
    /* Herdará do seu elemento pai */
}

.btn {
    background-color: var(--primary-color);
    border-radius: 4px;
    font-size: 1.8rem;
    text-decoration: none;
    padding: 1.6rem 4.6rem;
    display: inline-block;
    color: inherit;
}

.upper {
    text-transform: uppercase;
}

.wrapper {
    padding-top: 12rem;
}

.wrapper-container-dark {
    background-color: #2a2a2a;
    color: #fafafa;
}

.sticky {
    position: sticky;
    top: 0;
}

.wrapper-container-hero {
    background-image: linear-gradient(white, yellow);
    /* Indepedente do tipo de linear gradient, sempre será utilizado o image */
}

.wrapper-container-light {
    background-color: #fafafa;
}

.wrapper-container-dark2 {
    background-color: #003464;
    color: #fafafa;
}

.container {
    max-width: 127.6rem;
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* alinhou os itens na vertical */
    color: var( --primary-color);
    padding: 2rem 0;
}


.header-nav ul {
    display: flex;
    gap: 0.6rem;
    list-style-type: none;
}

.header-nav a {
    padding: 0.75em 1.15em;
    border: solid 1px;
    text-decoration: none;
}

.header-nav a:hover {
    background-color: black;
}

.hero-banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20rem;
} 

.hero-title {
    margin-bottom: 4rem;
}

.cursos {
    text-align: center;
}

.sectilon-title {
    margin: 0;
    padding: 7rem 0;
    text-align: center;
    font-size: 4.5rem;
}

.cursos-container {
    display: flex;
    text-align: left;
    gap: 2rem;
}

 .cursos-card {
 /* border: 1px solid #949494;
    border-radius: 10px;
    overflow: hidden; */
    flex: 1;
 /* flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0; */
}

.cursos-card img {
    width: 100%;
    display: block;
}

.cursos-card h3 {
    font-size: 2.4rem;
}

.cursos-card p {
    font-size: 1.8rem;
    line-height: 1.5rem;
}

.cursos_card_content {
    padding: 1rem 1.5rem;
    border: 1px solid #949494;
    border-radius: 0 0 8px 8px;
    border-top: transparent;
}

.section-btn {
    margin: 7rem 0;
}

.section-escola {
    margin-top: 6rem;
    display: flex;
    gap: 7rem;
}

.escola-title h2 {
    font: 4rem;
    margin-top: 2rem;
}

.section-escola p {
    font-size: 1.8rem;
    line-height: 1.5;
}

.iframe {
    width: 100%;
}

.address {
    margin: 2rem 0;
    text-align: right;
    font-size: 1.8rem;
    font-weight: 600;
}

.footer {
    padding: 5rem;
    text-align: center;
    font-size: 2rem;
}

.footer a {
    color: inherit;
}