


div :first-child {
/* - seleciona o primeiro filho da div */
    color: red;
}

p:first-child {
/* - seleciona o primeiro P */
    text-align: right;
}

p:last-child {
/* - seleciona o último p */
    color: black;
}

p:nth-child(3) {
/* seria o mesmo que first-child, porém podemos selecionar o filho que quisermos, o número significa a posição do que queremos */
    background-color: gray;
}

p:first-of-type {
/* - seleciona o primeiro P */
    background-color: #ccc;
}

p:last-of-type {
/* - seleciona o último P */
    background-color: aquamarine;
}

p:nth-of-type(3) {
/* - seleciona o terceiro P, ele vai pelo elemento e não por filho */
    text-decoration: underline;
}

li:nth-child(odd) {
/* - seleciona os números impares da lista */
    background-color: red;
}

li:nth-child(2n) {
/* - seleciona pula de dois em dois começando por 2 */
    background-color: black;
    color: white;
}