body {
    margin: 0;
    /* O conteúdo ficará sem margem, ou seja ocupará toda a página */
    font-family: Arial, Helvetica, sans-serif;
    /* Toda a página herdará essa fonte */
    background-color: #ccc;
    /* Cor de fundo */
    
}

.hero {
    background-image: url(imagens/bg-3.jpg);
    /* importa a imagem direto para o css */
    height: 500px;
    /* Altura da imagem */
    background-size: cover;
    background-position: right center;
    padding-top: 1px;
    /* Segurar header no topo do body */
}

.hero nav ul {
    margin: 20px 50px 0 0;
    text-align: right;
}

.hero nav li {
    display: inline-block;
    list-style-type: none;
    border: 1px solid white;
    margin-left: 10px;
}

.hero nav a {
    background-color: rgba(0,0,0, 0.3);
    display: block;
    padding: 12px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 12px;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px black;
}

.hero nav a:hover {
    background-color: rgba(0,0,0, 0.6);
}

.hero-content {
    margin: 120px auto 0;
    width: 80%;
    text-align: center;
    color: white;
}

.hero-content h1 {
    font-size: 56px;
    text-shadow: 2px 2px 2px black;
    /*  text-shadow - Sombra
    Primeiro valor, eixo horizontal: valores positivos a sombra anda para a direita, valores negativos anda para esquerda 
    Segundo valor, eixo vertical: valores positivos a sombra anda para a baixo, valores negativos anda para cima
    Terceiro valor opacidade da sombra: quanto maior o valor mais opaco fica a sombra*/
    text-transform: uppercase;
    margin-bottom: 0;
}

.hero-content p {
    background-color: rgba(0,0,0, 0.6);
    /* red, green, blue, alpha: o ultimo é o alpha: vai de 0 a 1, será o grau de transparência */
    font-size: 18px;
    display: inline-block;
    /* para usar o padding */
    padding: 16px;
    border-bottom: 2px solid;
    /* Não especificou a cor, então ela receberá a cor do texto */
    margin-top: 45px;
    border-radius: 20px;
}

main {
    width: 90%;
    margin: auto;
    /* max-width: 1100px; */
    /* o máximo do tamanho do conteúdo */
    /* min-width: 500px; */
    /* o minimo do tamanho do conteúdo */
}

section {
    /* padding: 32px; */
}

article {
    background-color: white;
    padding: 16px;
    margin: 22px ;
}

article h2 {
    background-color: #eee;
    border-bottom: 2px solid #ccc;
    padding: 10px;
    margin-top: 0;
    text-transform: uppercase;
    font-weight: 780px;
}

.btn {
    background-color: #cdc7c3;
    display: block;
    padding: 10px 16px;
    border-radius: 5px;
    text-decoration: none;
    /* float: right; 
    fará com que o button esqueça o seu elemento pai,  e flutui, as vezes ficando estranho*/
    margin-left: auto; 
    /* Leva o link para o lado esquerdo */
    width: fit-content;
    /* Ajusta automaticamente o tamanho do link ao texto */
}

.rodape {
    background-color: #6b6c68;
    color: white;
    text-align: center;
    padding: 30px;
    text-shadow: 2px 2px 2px black;
    letter-spacing: 2px;
}