body.only-print {
    background-color: #ff0000;
    color: rgb(0, 0, 0);
    font-family: serif;
}

a::after {
    content: "(link href)";
    display: inline-block;
    margin-left: .5rem;
}

@media print {
    body {
        color: black;
        font-family: serif;
    }
}