body {
    background-color: #810d0d;
}
h1 {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 56px;
}

h2 {
    font-family: Arial, Helvetica, sans-serif; /*Estilo da letra*/
    /*Caso não tenha Arial no Browser do usuário, ele exibirá Helvetica, se não tiver ele exibirá qualquer uma sem serifa */
    /* sem serifas são conhecidas como sans-serif (do francês "sem serifa") */
    font-size: 48px; /*Tamanho da letra*/
    font-style: italic; 
    font-weight: normal; /* remove as propriedades padrão titulo nivel 2*/
}

h3 {
    font-size: 38px;
    text-transform: lowercase; /* lowercase: letras em minusculo, uppercase: maiusculo, capitalize: primeiras letras das frases em maiusculo*/
    text-align: center; /* lugar onde se posicionará, nesse caso no centro da tela*/
    text-decoration: line-through; /* overline: coloca um traço na parte de cima, line-through: no meio, underline: em baixo*/
    background-color: cyan;
}

p {
    text-indent: 28px; /* dará espaçamento no inicio de cada paragrafo*/
    font-size: 28px;
    font-weight: bold;
    text-align: justify; /* o conteúdo ocupará toda a largura da tela (em alguns casos não ficará legal)*/
    color: #b8b8b8; /*podemos colocar somente 3 valores nas cores, reproduzindo o rgb*/
    font-variant: small-caps; /* ele formata para mauisculo e dará enfase nas letras maiusculas*/
}

a {
    text-decoration: none; /* removendo o traço da parte de baixo, que vem por padrão no a*/
    font-variant: normal; /* fará com que a deserde a formatação de small-caps */
}

.destaque {
    color: #fff;
}

#destaque {
    color: aqua;
}