/* viewport width - viewport height 

1. vw (viewport width)
O que é: Representa 1% da largura da janela de visualização (viewport).
Uso: Ideal para criar layouts responsivos que se ajustam automaticamente à largura da tela do dispositivo.
Exemplo: width: 50vw; define a largura do elemento como 50% da largura total da janela de visualização.

2. vh (viewport height)
O que é: Representa 1% da altura da janela de visualização.
Uso: Similar ao vw, mas aplicado à altura do viewport. Útil para controlar a altura de elementos em relação à altura total da tela.
Exemplo: height: 100vh; define a altura do elemento como 100% da altura da janela de visualização.*/

html {
    font-size: 62.5%;
    padding-bottom: 200px;
}
.porcentagem {
    background-color: yellow;
    width: 60%;
    height: 500px;
}

.viewport-container {
    font-size: 3rem;
    /* height: auto; */
}

.viewport {
    width: 90vw;
    height: 90vh;
    /* Os valores vw e vh serão aplicados ao tamanho da janela de visualização */
    background-color: rgba(0, 0, 255, 0.477);
}

