h1 {
    background-color: #a07c7c;
}

h2 {
    background-color: #37a951;
    width: 50%;
    /* width define a largura de um elemento. */
    height: 50px;
    /* height define a altura de um elemento. */
    text-align: center;
}