body {
    margin-bottom: 100vh;
}

div {
  /* transform: translate(x, y);
  Se apenas um valor for fornecido, ele será aplicado ao eixo X e o eixo Y será considerado 0 (ou seja, sem movimento vertical). */
  outline: 1px solid #888;
  width: 80%;
  height: 200px;
  margin: 0.5em auto;
}

p {
    width: 100%;
}

.destaque {
    background-color: yellow;
}

.div1 .destaque {
    transform: translate(50%, 100%);
    /* Quando temos apenas um valor no translate, ele será do eixo x (horizontal), quando temos dois, o segundo vai para o eixo y (vertical)
    Valores negativos eixo x vai para esquerda, eixo y vai para baixo */
}

.div2 .destaque {
    position: relative;
    top: 100%;
    left: 50%;
/*  como position temos que definir */
}