.container {
    background-color: #ccc;
    border: 2px solid black;
    width: 300px;
    padding: 15px;
    margin-bottom: 10px;
}

.item {
    background-color: rgba(43, 255, 0, 0.718);
    margin-bottom: 10px;
    padding: 5px;
    border: 2px solid;
    /* width: fit-content; */
    /* a largura se ajustará ao conteúdo */
}

.fitContent .item{
    width: fit-content;
}

.minContent .item {
    width: min-content;
}

.maxContent .item {
    width: max-content;
}