/* Border-radius é usada para arredondar os cantos das bordas de um elemento. Isso é útil para criar caixas com cantos arredondados, círculos, elipses, ou outros formatos geométricos. */
html, body {
    height: 100%;     
}

body {
    background-color: #ccc;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    background-color: orange;
    width: 200px;
    height: 200px;

    border-radius: 50px 20px 50px 0px;
    /* Podemos colocar 4 valores valores.
    Sendo o primeiro valor para o canto superior esquerdo, segundo para superior direito, terceiro para canto inferior direito e o ultimo para o inferior esquerdo */

    border-radius: 10px  / 80px ;
    /* O primeiro valor vai para o eixo vertical e segundo para o horizontal */
}