/* Pseudo Classes
    a: link { } - quando estado padrão, sem nenhuma ação
    a: visited { } - link já visitado 
    a: hover { } - quando passar o mouse sobre o link
    a: active { } - quando o link é precionado
*/

body {
    font-family: sans-serif;
    color: #f00;
    /* a tag a (link) não receberá a herença do body, temos que adicionar a cor na propria tag a 
    Outras tags estão herdando formatações do body*/
}
/* h1, a, p {
    font-family: sans-serif;
    color: #f00;
} */

a {
    color: aqua;
    display: inline-block;
}

a:visited {
    color: #000;
}

a:hover {
    background-color: rgb(73, 206, 73);
    padding: 5px;
}

a:active {
    background-color: gray;
}

