body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
div {
    width: 50vw;
    border: 2px solid black;
    font-size: 2rem;
    padding: 1rem;
    position: relative;
}

div::before {
    content: "";
    width: 20px;
    height: 20px;
    background-color: red;
    display: block;
    /* border-radius: 50%; */
    position: absolute;
    right: 0;
    bottom: 0;
}

p::before{
    content: "Antes";
}

p::after{
    content: "Depois";
}

