body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
details {
    color: red;
    background-color: #ccc;
    margin-bottom: 1em;
    padding: 0.5em;
}

details summary {
    cursor: pointer;
}

details[open] {
    /*  Selecionando por atributo []
    Open é um valor booleano, se ele estiver presente o details fica aberto, se não fica fechado*/
    background-color: aqua;
    color: black;
}