article {
    outline: 4px solid red;
}

article a {
    color: red;
/* - seleciona todas as tags A que estão dentro da tag article */
}

article a > b {
    color: aqua;
}

h3 + p {
    background-color: red;
}

h3 ~ p {
    border: 1px solid black;
}

article p:not(.destaque) {
    border: 1px solid red;
}