.chk1 {
    display: none;
}

.chk1 + label span {
    display: inline-block;
    font-size: 20px;
    width: 1em;
    height: 1em;
    background-color: rgb(248, 84, 84);
}

.chk1:checked + label span {
    background-color: blue;
    position: relative;
}

.chk1:checked + label span::before{
    content: "";
    display: block;
    border: 0.087em solid white;
    position: absolute;
    top: 0.077em;
    left: 0.38em;
    right: 0.3em;
    bottom: 0.3em;
    transform: rotate(45deg);
    border-left-color: transparent;
    border-top-color: transparent;
}

.lbl2 input[type="checkbox"] {
    width: 1px;
    height: 1px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: absolute;
    outline: none;
}

.lbl2 input:focus + span {
    outline: 2px solid black;
    outline-offset: -2px;
}


.lbl2 input + span {
    display: inline-block;
    font-size: 20px;
    width: 1em;
    height: 1em;
    background-color: rgb(248, 84, 84);
    position: relative;
    transition: background-color 1s;
}

.lbl2 input:checked + span {
    background-color: blue;
    position: relative;
}

.lbl2 input:checked + span::before{
    content: "";
    display: block;
    border: 0.087em solid white;
    position: absolute;
    top: 0.077em;
    left: 0.38em;
    right: 0.3em;
    bottom: 0.3em;
    transform: rotate(45deg);
    border-left-color: transparent;
    border-top-color: transparent;
}