/* Flex Basis */

body {
    margin-bottom: 500px;
}
.flexbox {
    height: 250px;
    display: flex;
    border: solid 2px red;
    margin-bottom: 16px;
}

.flexbox div{
    border: solid 2px black;
    width: 50px;
    margin: 15px;
}

.flex-container1 {
    flex-flow: nowrap;
}

.flex-container2 {
    justify-content: flex-end; /* Vai para direita*/
    align-items: flex-start; /* Vai para cima*/
    flex-direction: column; /* O padrão é row, quando modificamos o flex-direction, ele mudará o sentido do main e cros */
    height: 400px;
}

.flex-container2 div {
    background-color: yellow;
    width: 50px;
    height: 50px;
}

.flex-container2 .div2 {
    flex-basis: 200px ; 
    /* com o flex-direction column, ele mudará a altura do elemento
    auto - ele verificará se tem width, ou height e assumirá esses valores */
}