a[href="#"]:not(.link-ok) {
    color: aqua;
}

a[href^="http"] {
    background-color: blueviolet;
}

a[href$=".com"] {
    color: green;
}

a[target="_blank"] {
    text-decoration: none;
}

a[href="index.html"] {
    background-color: rgb(0, 255, 81);
}