html {
    font-size: 62.5%;
}

h1 {
    font-size: 3.4em;
}

b {
    color: red;
    font-size: 1em;
    /* Este elemento está herdando 20px da tag p, o valor de 1em será em cima desse 20px, logo 2em equivale a 40px */
    font-size: 1rem;
    /* A tag b não recebe mais a herança da tag p, ele recebe diretamente do root (html) */
}

p {
    font-size: 2em;
    /* equivale a 20px, pois o p está herdando a propriedade do elemento pai */
}